<!DOCTYPE html>
<html>
  <head>
    <title>Admin Bookstore</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body >
    <header class="header">
      <nav class="navbar navbar-inverse navbar-fixed-top">
        <strong><%= link_to "Admin Bookstore", admin_books_path, class: "title" %></strong> <br>
        <%= link_to "Authors", admin_authors_path, class: "btn" %> |
        <%= link_to "Geners", admin_genres_path, class: "btn" %> |
        <%= link_to "Books", admin_books_path, class: "btn" %> |
        <%= link_to "User", root_path, class: "btn" %>
      </nav>
    </header>
    <%= yield %>
    <footer class="footer">
      <nav class="navbar navbar-default navbar-fixed-bottom">
        <%= link_to "Add new book", new_admin_book_path, class: "btn" %>
        <%= link_to "Add new gener", new_admin_genre_path, class: "btn" %>
        <%= link_to "Add new author", new_admin_author_path, class: "btn" %>
      </nav>
    </footer>
  </body>
</html>
