<h1>Photos</h1>


<% @photos.each do |photo| %>
  <%= photo.title %> <br>
  <%= photo.description %><br>
  <%= image_tag "/uploads/#{photo.id}", size: "300" %><br>
  <%= link_to "View", photo_path(photo) %> <br>
<% end %>

<%= link_to "Back", root_path %>
