<!DOCTYPE html>
<html>
<head>
  <title>Notice board</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= render 'layouts/application/navbar' %>
<div class="contaner">


  <div class="row">
    <div class="col-sm-4"> <%= render 'layouts/category/category' %> </div>

    <div class="col-sm-8"> <%= yield %></div>
  </div>
</div>
</body>
</html>
