<% if @author.errors.any? %>
<div>
  Total errors: <%= @author.errors.count %>
  <ul>
    <% @author.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
  <!-- true -->
<% end %>
<%= form_for @author, url: form_url, method: form_method do |f| %>
  <div>
    <%= f.label :name %> <br>
    <%= f.text_field :name, required: true %>
  </div>
  <div>
    <%= f.label :describtion %> <br>
    <%= f.text_area :describtion, required: true %>
  </div>
  <div>
    <%= f.label :picture %> <br>
    <%= f.file_field :picture %>
  </div>
  <div >
    <%= f.submit %>
  </div>
<% end %>
