<%= form_for [@book, @book.comments.build] do |f| %>
    <div>
      Author: <%= f.text_field :author %>
    </div>
    <div>
      Rating: <%= f.select :rating, [1, 2, 3, 4, 5] %>
    </div>
    <div>
      Text: <%= f.text_area :text %>
    </div>

    <%= f.submit %>
<% end %>
