<h1>Movies</h1>

<div class="list-group">
  <% @genres.each do |genre| %>
  <%= link_to genre.title, genre_path(genre), class: "list-group-item" %>
  <% end %>
</div>

<div class="row">
  <% @books.each do |book| %>
      <div class="col-sm-5 col-md-3">
        <div class="thumbnail">
          <%= image_tag "/uploads/#{book.id}" %>
          <div class="caption">
            <h3><%= book.title %></h3>
            <p><%= book.describtion %></p>
            <p><%= book.created_at %></p>
            <p><%= link_to "View", book_path(book), class: "btn btn-default" %></p>
          </div>
        </div>
      </div>
  <% end %>
</div>
