<!-- <h1>Tasks#new</h1>

<p>
  <%= link_to "All tasks", root_path %><br>
</p>
<p>
  <%= form_for :tasks, url: tasks_create_path do |f| %>
  <p>
    <%= f.label :title %> <br>
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.submit "ADD" %><br>
  </p>

  <% end %>
</p> -->
