<!DOCTYPE html>
<html>
  <head>
    <title>Guestbook</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="header">
      <nav class="navbar navbar-inverse navbar-fixed-top ">
        <strong><%= link_to "Guestbook", records_path, class: "title" %></strong> <br>
        <%= link_to "Records", records_path, class: "btn" %> |
      </nav>
    </header>
    <%= yield %>
  </body>
</html>
