<h1><%= @shop.title %></h1>

<div class="media">
  <div class="media-left media-top">
    <a href="#">
      <%= image_tag "/shop/#{@shop.id}", size: "300" %>
    </a>
    <div><b><%= @shop.describtion %></b></div>
  </div>
  <div class="media-body">
    <h4 class="media-heading">MENU</h4>
    <ul class="nav nav-tabs">
      <li ><a href="#">Europ</a>
        <% @foods.each do |food| %>
          <% if food.shop_id == @shop.id %>
           <%= if food.category == @ %>
                
                <% end %> %>
          <% end %>
        <% end %>
      </li>
      <li ><a href="#">National</a>
        <% @foods.each do |food| %>
            <% if food.shop_id == @shop.id %>
                <h3><%= food.title %>||<strong><%= food.price %>-som</strong></h3>

                <%= food.describtion %>
                <%= render 'order_items/form', order: current_order, food: food, remote: true %>
            <% end %>
        <% end %>
      </li>
    </ul>
  </div>
</div>